---
interface Props {
  postId: string;
}

const { postId } = Astro.props;
---

<div class="embed-container instagram-embed">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink={`https://www.instagram.com/p/${postId}/`}
    data-instgrm-version="14"
  >
  </blockquote>
</div>
